@charset "UTF-8";

$title-color : #3e6b99;
$footer-color : #263F59;
$bg-color : #f0f0f0;
$btn-disabled-color : #FFABAB;

#header {
	overflow: hidden;
}

body {
	font-size: 16px;
	position: relative;
	background-color : $bg-color;
}

img {
	position: absolute;
	width: 100%;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

h1 {
	border-bottom: 3px solid $title-color;
	padding-bottom: 10px;
}

h1,
h3 {
	color: $title-color;
}

h3,
.well  {
	text-align: center;
}

h3 {
	font-size: 2.4rem;
	height: 26px;
	overflow: hidden;
}

.container > ul {
	list-style: none;
	padding: 0;
}

.anchorLink {
	display: block;
	margin: 20px 0;
}

.anchorLink li {
	display: inline-block;
	margin-bottom: 10px;
}

.breakSP {
	display: none;
}

.well {
	background-color: #F1F8FE;
	border: 1px solid #dedede;

	.descriptBox {
		text-align: left;
		height: 176px;
		overflow-x: hidden;
	}
}

.tal {
	text-align: left !important;
}

.hideIt {
	display: none;
}

%shadow {
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

@mixin button {
	color: #F1F8FE;
	background-color: $title-color;
	border-color: $title-color;
}

%button {
	@include button;
}

.authorImg {
	position: relative;
	width: 100%;
	max-width: 250px;
	min-height: 250px;
	border-radius: 50%;
	overflow: hidden;
	margin: 20px auto;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 10px rgba(38,63,89,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 10px rgba(38,63,89,.6);
}

.imgWrap {
	position: relative;
	width: 100%;
	max-width: 361px;
	height: 171px;
	margin: 0 auto;
	overflow: hidden;
	border-radius: 4px;
	@extend %shadow;

	a {
		cursor: zoom-in;
	}
}

.btn-default {
	font-weight: 600;
	color: #333;
	background-color: $bg-color;
	border-color: #333;

	&:hover,
	&:focus {
		@extend %button;
		@extend %shadow;
	}
}

.btn-default.disabled {
	color: $btn-disabled-color;
	border-color: $btn-disabled-color;

	&:hover,
	&:focus {
		color: $btn-disabled-color;
		border-color: $btn-disabled-color;
	}
}

#paginating li {
	list-style: none;
}

.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover {
	color: $btn-disabled-color;
	border-color: $btn-disabled-color;
}

.pagination>li {
	user-select: none; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.innerContainer {
	text-align: center;
}

.spinner {
	position: relative;
	height: 88vh;
}

/* Spinner Style */

.lds-spinner {
	position: absolute;
	width: 64px;
	height: 64px;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	div {
		transform-origin: 32px 32px;
		animation: lds-spinner 1.2s linear infinite;

		&:after {
			content: " ";
			display: block;
			position: absolute;
			top: 3px;
			left: 29px;
			width: 5px;
			height: 14px;
			border-radius: 20%;
			background: $footer-color;
		}

		&:nth-child(1) {
			transform: rotate(0deg);
			animation-delay: -1.1s;
		}

		&:nth-child(2) {
			transform: rotate(30deg);
			animation-delay: -1s;
		}

		&:nth-child(3) {
			transform: rotate(60deg);
			animation-delay: -0.9s;
		}

		&:nth-child(4) {
			transform: rotate(90deg);
			animation-delay: -0.8s;
		}

		&:nth-child(5) {
			transform: rotate(120deg);
			animation-delay: -0.7s;
		}

		&:nth-child(6) {
			transform: rotate(150deg);
			animation-delay: -0.6s;
		}

		&:nth-child(7) {
			transform: rotate(180deg);
			animation-delay: -0.5s;
		}

		&:nth-child(8) {
			transform: rotate(210deg);
			animation-delay: -0.4s;
		}

		&:nth-child(9) {
			transform: rotate(240deg);
			animation-delay: -0.3s;
		}

		&:nth-child(10) {
			transform: rotate(270deg);
			animation-delay: -0.2s;
		}

		&:nth-child(11) {
			transform: rotate(300deg);
			animation-delay: -0.1s;
		}

		&:nth-child(12) {
			transform: rotate(330deg);
			animation-delay: 0s;
		}
	}
}

@keyframes lds-spinner {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/*End Spinner Style*/

a#backTop {
	position: fixed;
	display: none;
	font-size: 4vw;
	width: 4%;
	min-height: 40px;
	top: auto;
	bottom: 5vw;
	right: 8vw;
	z-index: 999;

	&:hover,
	&:focus {
		text-decoration: none;
	}
}

#footer {
	position: relative;
	width: 100%;
	background-color: $footer-color;
	color: #fff;
	overflow: hidden;

	p {
		width:259px;
		font-size: 1.8rem;
		padding: 20px 0;
		margin: 0 auto;
	}
}

@media screen and (max-width: 768px) {
	h1 {
		font-size: 3.1rem !important;
	}
	h3 {
		font-size: 1.9rem;
		height: 21px;
	}
	.btn-default {
		@include button;
	}
	.btn-default.disabled {
		color: $btn-disabled-color;
		background-color: $bg-color;
		border-color: $btn-disabled-color;
	}
	.anchorLink li {
		width: 100%;

		&:last-child {
			margin-bottom: 0;
		}

		a.btn {
			width: 100%;
		}
	}
	a#backTop {
		font-size: 8vw;
		bottom: 12vw;
	}
}

@media screen and (max-width: 350px) {
	.breakSP {
		display: block;
	}
}